body { 
	margin: 0; 
}

canvas  { 
	width: 100%; 
	height: 100%; 	
	position: absolute;	
	top: 0px;
	left: 0px;
}

#controls-pane {
	position: absolute;
	top: 10px;
	left: 10px;		
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
}

#controls-pane label {
	margin-left: 5px;
}

#controls-pane input {
	background-color: transparent;
	border-width: 1px;	
	color: #fff;	
	padding: 4px;
	margin: 5px 5px;	
}
